.wave_top {
  position: relative;
  overflow: hidden;
}

.wave_top::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(
    180deg,
    rgba(249, 240, 229, 0.7) 0%,
    rgba(249, 240, 229, 0.7) 100%
  );
  z-index: -1;
  clip-path: path(
    'M 0 120 Q 200 150 400 100 T 800 100 T 1200 100 T 1600 100 V 160 H 0 Z'
  );
}
