@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/fonts/Sofia-Pro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/fonts/Sofia-Pro-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/fonts/Sofia-Pro-Semi-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./assets/fonts/Suisse-Intl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('./assets/fonts/FiraMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('./assets/fonts/FiraMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Sofia Pro', system-ui, sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
